.ant-skeleton-image {
  width: 380px !important;
  height: 380px !important;
}

.chart-lable {
  /* padding: 5px;
  text-align: center;
  color: #131212;
  align-items: center;
  border-radius: 40px;
  margin: 5px;
  cursor: pointer;
  height: 20px;
  width: 32px;
  font-size: 9px;
  justify-content: center; */
  padding: 5px;
  text-align: center;
  color: #131212;
  align-items: center;
  border-radius: 40px;
  margin: 5px;
  cursor: pointer;
  height: 20px;
  width: 32px;
  font-size: 9px;
  display: flex; /* Add flex display */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -19px;
}
.yesLable {
  background: green;
  color: #fff !important;
  width: 40px;
  height: 30px;
}
.noLable {
  background: red;
  color: #fff !important;
  width: 40px;
  height: 30px;
}
.refLable {
  background-color: rgb(204, 134, 5);
  color: #fff !important;
  width: 40px;
  height: 30px;
}
.fullLable {
  background: rgb(76, 110, 160);
  color: #fff !important;
  width: 40px;
  height: 30px;
}
.lable-container {
  /* margin-top: 17%; */
  text-align: center;
  display: grid;
  justify-content: center;
  width: 20px;
  height: 45px;

  /* margin-left: 30px; */
}

table,
td,
th {
  border: 1px solid #000000;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #000000;
  padding: 15px;
}
td {
  border: 1px solid #000000;
  text-align: center;
}
.chart-container {
  display: flex;
  justify-content: center;
}
.lable-container ul {
  border: none !important;
}

.smaller-table {
  width: 50%; /* Adjust the width as needed */
  font-size: 10px; /* Adjust the font size as needed */
  height: 30px;
  border-collapse: collapse;
}

.ant-card-body {
  padding: 0px !important;
}
.height {
  height: 250px !important;
  width: 360px !important;
  background-color: aqua;
  text-align: center;
}

.color svg rect {
  border: 1px solid red;
  fill: #222 !important;

  width: 353px !important ;
  height: 800px !important;
}
/* 
#reactgooglegraph-1 div:nth-child(1),
#reactgooglegraph-4 div:nth-child(1),
#reactgooglegraph-3 div:nth-child(1),
#reactgooglegraph-2 div:nth-child(1),
#reactgooglegraph-5 div:nth-child(1) {
  width: 340px !important;

  height: 250px !important;
  margin: 0 5px !important;
} */
[id^="reactgooglegraph-"] {
  margin: 0 5px !important;
  width: 340px !important;
  height: 250px !important;
}

.background div:nth-child(1) {
  /* border: 1px solid red; */
  width: 437px !important;
  height: 300px !important;
}
.button {
  width: 100px;
  height: 30px;
  font-size: 9px;
}
/* .AddchartIcon:active {
  
  border: 2px solid red;
} */

.description {
  height: 200px;
  width: 490px;
  color: white;
  background-color: rgb(72, 9, 245);
}

.highcharts-legend-item
  .highcharts-bar-series
  .highcharts-color-1
  .highcharts-series-1
  text {
  fill: #fff;
}

.chart-container {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon {
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.custom-table th {
  background-color: blue; /* Header background color */
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

.custom-check-icon {
  color: blue !important;

  width: 25px; /* Set the desired width */
  height: 25px;
}

/* Add this to your CSS file or component */
.custom-text {
  background: linear-gradient(to right, #ff5733, #e8505b); /* Gradient color */
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  display: inline; /* Ensures the inline nature of the text */
}

.double-color-text {
  color: #0dbb47; /* First color for "OF LIVE OAK" */
  font-weight: bold;
}

/* .multicolor-gradient-text {
  background: linear-gradient(45deg, #ff5733, #ffbd33, #33ff57, #337dff);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: bold;
} */

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f520e3, #072cfa);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.table-heading {
  position: sticky;
  top: 0;
  background-color: #222 !important;
  color: white;
  text-align: center;
  font-family: Calibri;
}
