.container [id^="reactgooglegraph-"]  > .color svg rect {
  border: 1px solid red;
  fill: #222 !important;

  width: 300px !important ;
  height: 800px !important;
}
.container [id^="reactgooglegraph-"] {
  margin: 0 5px !important;
  width: 300px !important;
  height: 250px !important;
}
/* .chart-container {
  display: flex;
  justify-content: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  margin: 40px; 
  padding: 10px;
  border: 1px solid #b80c0c; 
} */
