.navbar {
  background-color: #222;
  height: 70px;
}

.sidebar {
  width: 150px;

  height: 100vh;
  background-color: #222;
}

.sidebar h2 {
  color: white;
  text-align: center;
  padding: 10px;
  justify-content: center;
  margin-left: -10px;
}
.aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger{
  padding-top: 55px !important;
}

.chart-container {
  margin-right: 20px; /* Add a margin to create space between the charts */
}
